
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: aqua;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: sans-serif;
}
nav ul {
  display: flex;  
   align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
}
nav ul li {
    padding: 12px;
}
.Brand img{
    width: 44px;
    padding: 0 8px;

}
.Brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}
.Container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: "varela Round", "sans-serif";
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;


}
.Bottom{
    position: sticky;
    height: 130px;
    background-color: red;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 34px;
}

.icons{
    margin-top: 34px;
}
#MyProgressBar{
    width: 80vw;
    text-align: center;
}